<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Gestion Cars</a>
  <!-- Links -->
  <ul class="navbar-nav">
    <li
      class="nav-item"
      *ngIf="keycloakService.getUserRoles().includes('ADMIN')"
    >
      <a class="nav-link" routerLink="/Cars">Liste Produits</a>
    </li>
    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle"
        href="#"
        id="navbardrop"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Cars
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbardrop">
        <li><a class="dropdown-item" href="#">Ajouter</a></li>
        <li><a class="dropdown-item" routerLink="/Cars">Lister</a></li>
      </ul>
    </li>
  </ul>
  <ul class="navbar-nav">
    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle"
        href="#"
        id="navbardrop"
        data-bs-toggle="dropdown"
        aria-expanded="false"      >
        <span *ngIf="profile; else NOT_LOGGED_IN">
          {{ profile.username }}
        </span>
        <ng-template #NOT_LOGGED_IN>
          <button class="btn btn-success" (click)="onLogin()">Login</button>
        </ng-template>
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" (click)="onLogout()">logout</a>
        <a class="dropdown-item" href="#">Profile</a>
      </div>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
